{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">
<hr class="position-downwards">
  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
   
    <h1>Freight forwarders in the region</h1>
    <!--<p>Freight forwarders in the region</p>-->
  </div>
</header>

  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#global"><i class="icon-chevron-right"></i> Notifications </a></li>
          <li><a href="#gridSystem"><i class="icon-chevron-right"></i> Emails</a></li>
          <li><a href="#fluidGridSystem"><i class="icon-chevron-right"></i> nakkos</a></li>
          <!--<li><a href="#layouts"><i class="icon-chevron-right"></i> Layouts</a></li>
          <li><a href="#responsive"><i class="icon-chevron-right"></i> Responsive design</a></li>-->
        </ul>
      </div>
      <div class="span9">

<!-- copy and paste-->



        <!-- Global Bootstrap settings
        ================================================== -->
        <section id="global">
          <div class="page-header">
            <h3>Browse for appropriate carriers</h3>
          </div>

	<div class="accordion" id="accordion2">
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
Collapsible Group Item #1
</a>
</div>
<div id="collapseOne" class="accordion-body collapse in">
<div class="accordion-inner">
Anim pariatur cliche...
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
Collapsible Group Item #2
</a>
</div>
<div id="collapseTwo" class="accordion-body collapse">
<div class="accordion-inner">
Anim pariatur cliche...
</div>
</div>
</div>
</div>


  
</body>
{% endblock %}
